<%- include('header'); -%>
<h2>Display</h2>
<a href="/">
  <button class="btn" type="submit"><i class="fa fa-chevron-circle-left" style="color:red;font-size:60px;"></i></button>
</a>

<div class="container-fluid">
<div class = "row">
    <% cards.forEach(function(card) { %>
     <div class ="col-sm-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src=<%= card.image %> alt="Card image cap">
            <div class="card-body">
              <h5 class="title card-title"><a id="url" href=<%= card.url %>><%= card.title %></a></h5>
              <h6 class="card-title"><p class="author-name"><a id="git-url" href=<%= card.git %>><%= card.author %></a></p></h4>
              <p class=" abs card-text"><%= card.abs %></p>
              <h7 class="card-title"><i class="fa fa-star" style="color: #FFD700"></i> <p class="stars"><%= card.stars %></p></h4>
              <br>
              <h7 class="card-title"><p class="starsa"><%= card.starsa %></p></h4>
            </div>
        </div>
      </div>
        
    <% }); %>
</div>
</div>


<%- include('footer'); -%>